@model Dictionary<string,List<string>>


@{
    ViewData["Title"] = "CatList";
}

<h2>List of cats' names by owner's gender</h2>

@foreach(KeyValuePair<string, List<string>> gender in Model)
{
    <h5>@gender.Key</h5>
    <ul>
        @foreach (var pet in gender.Value)
        {
            <li>@pet</li>
        }
    </ul>
}
